
          <div class="news">
            <div class="table-responsive" style="max-height: 60vw">
              <table class="table table-sm table-borderless">
                <tr>
                  <!-- No teaching responsibilities in the summer. ☀️🏖️🍹 -->

                  <th scope="row">Fall 2026</th>
                  <td>
                    <a class="news-title" href="https://www.fahadsultan.com/csc272">CSC-272: Introduction to Data Mining</a>
                   </td> 
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>
                      <a class="news-title" href="https://www.fahadsultan.com/csc372">CSC-372: Machine Learning with Big Data</a>
                  </td>
                </tr>
                <tr>
                  <!-- No teaching responsibilities in the summer. ☀️🏖️🍹 -->

                  <th scope="row">Spring 2027</th>
                  <td>
                    <a class="news-title" href="https://www.fahadsultan.com/csc121">CSC-121: Introduction to Computer Programming</a>
                   </td> 
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>
                      <a class="news-title" href="https://www.fahadsultan.com/csc461">CSC-461: Computational Theory</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
