
          <div class="news">
            <div class="table-responsive" style="max-height: 60vw">
              <table class="table table-sm table-borderless">
                <tr>
                  <th scope="row">Spring 2024</th>
                  <td>
                    <a class="news-title" href="https://www.fahadsultan.com/csc122">CSC-122: Data Structures & Algorithms</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>
                      <a class="news-title" href="https://www.fahadsultan.com/csc475">CSC-475: Seminar In Computer Science</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
