
          <div class="news">
            <div class="table-responsive" style="max-height: 60vw">
              <table class="table table-sm table-borderless">
                <tr>
                  <th scope="row">Fall 2023</th>
                  <td>
                    <a class="news-title" href="https://www.fahadsultan.com/datascience_ml">CSC-272: Data Mining</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>
                      <a class="news-title" href="https://www.fahadsultan.com/seminar-in-cs">CSC-475: Seminar In Computer Science</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
