
<h2><a style="color: inherit;">present</a></h2>

<div class="news">
    <div class="table-responsive" style="max-height: 60vw">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">Fall 2023</th>
          <td>
            <a class="news-title" href="https://www.fahadsultan.com/datascience_ml">CSC-272: Data Mining</a>
          </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>
              <a class="news-title" href="https://www.fahadsultan.com/seminar-in-cs">CSC-475: Seminar In Computer Science</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <h2><a style="color: inherit;">past</a></h2>
  <div class="news">
  <div class="table-responsive" style="max-height: 60vw">
    <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">Spring 2023</th>
          <td>
    <a class="news-title" href="https://www.fahadsultan.com/csc343">CSC-343: Artificial Intelligence</a>
          </td>
        </tr>
      <tr>
        <th scope="row"></th>
        <td>
    <a class="news-title" href="https://www.fahadsultan.com/csc105">CSC-105: Introduction to Computer Science</a>
        </td>
      </tr>
      <tr>
        <th scope="row">Fall 2022</th>
        <td>
    <a class="news-title" href="https://www.fahadsultan.com/csc121">CSC-121: Introduction to Computer Programming</a>
        </td>
      </tr>
    </table>
  </div>
</div>
<br/>
  <h2><a style="color: inherit;">future</a></h2> 
  <div class="news">

  <div class="table-responsive" style="max-height: 60vw">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row">Spring 2024</th>
        <td>CSC-122: Data Structures and Algorithms</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>CSC-475: Seminar In Computer Science</td>
      </tr>
      <tr>
        <th scope="row">Fall 2025</th>
        <td>CSC-272: Data Mining</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>CSC-223: Advanced Data Structures and Software Development</td>
      </tr>
      <tr>
        <th scope="row">Spring 2025</th>
        <td>CSC-272: Data Mining</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>CSC-223: Advanced Data Structures and Software Development</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>CSC-372: Machine Learning with Big Data</td>
      </tr>
    </table>
  </div>
</div>